<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QTracker | User Login</title>
    <script>
        function formValidate(){
            if(document.pwverify.mail.value == ""){
                alert( "Please provide your email address!" );
                document.pwverify.mail.focus() ;
                return false;
            }
        }  
    </script>
</head>
<body class = "error">
    <div class="box4">
        <h1>Reset Password</h1><br><br>
        <form action="/datainput.js" method = "post" name = "pwverify" onsubmit="return(formValidate())">
            <div class="row">
                <div class="col-25">
                    <label for="mcid">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="mail" placeholder="Enter your email..">
                </div>
            </div>
            <br>   <br>   <br><br>  
            <div class="row">
                <button type="submit">Send verify link</button>
            </div>
            </div>
        </form>
        <br>
        
    </div>
</body>
</html>