<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/firstpage.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>QTracker</title>
</head>
<body>
    <header class="nav-bar">
        <div class="nav-head" >
        <h1 class="nav-head-title">
            QTracker
        </h1>
        <p class="nav-head-subtitle">FOR A SAFE SRI LANKA</p>
        </div>
        <nav>
            <ul>
                <li>HOME</li>
                <li>SIGN IN</li>
                <li>REGISTER</li>
            </ul>
        </nav>
    </header>
<video src="../public/video/video.mp4" loop autoplay class="video"></video>

<div class="container">
    <h1 class="btn-title">WE TAKE YOUR SAFETY SERIOUSLY!</h1>
    <p class="btn-subtitle" >Join with us..</p>
    <div class="btn-container">
    <a href="./loginpage.html"><button class="btn-signin btn">SIGN IN</button></a>
    <a href="./userRegister.html"><button class="btn-signin btn">REGISTER</button></a>
    </div>
</div>
<div class="fotter">
    <div class="footer-el">
        <h2 class="footer-head"> ABOUT</h2>
        <ul class="footer-ul">
            <li class="footer-ul-el">Contact Us</li>
            <li class="footer-ul-el">Email</li>
            <li class="footer-ul-el">Details</li>
        </ul>
    </div>
    <div class="footer-el">
        <h2 class="footer-head">SUPPORT</h2>
        <ul class="footer-ul">
            <li class="footer-ul-el">Subscription</li>
            <li class="footer-ul-el">Licensing</li>
            <li class="footer-ul-el">Updates</li>
        </ul>
    </div>
    <div class="footer-el">
        <h2 class="footer-head">FOLLOW US</h2>
        <ul class="footer-ul">
            <li class="footer-ul-el"><i class="fab fa-facebook-f"></i></li>
            <li class="footer-ul-el"><i class="fab fa-youtube"></i></li>
            <li class="footer-ul-el"><i class="fab fa-twitter"></i></li>
        </ul>
    </div>
</div>   
</body>
</html>